@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.buttonType {
		border-radius: 1rem;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		@apply h-[4vw] w-[10vw];
		@apply md:h-[3vw] md:w-[8vw];
		@apply lg:h-[2vw] lg:w-[6vw];
		@apply text-xs md:text-sm;
	}
	.linkdiv {
		@apply w-[50vw] h-[45vw];
		@apply md:h-[35vw] md:w-[40w];
		@apply lg:h-[25vw] lg:w-[30vw];
	}
	.bigText {
		@apply text-xl;
		@apply md:text-2xl;
		@apply lg:text-3xl;
	}
	.smallText {
		@apply text-sm;
		@apply md:text-base;
	}
}
